APP_ENV=dev
APP_DEBUG=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mon_projet
DB_USERNAME=user
DB_PASSWORD=secret

PAYMENT_GATEWAY=stripe   # or paypal

STRIPE_SECRET_KEY=sk_test_<your_stripe_key>
STRIPE_WEBHOOK_SECRET=whsec_<your_stripe_webhook_secret>

PAYPAL_CLIENT_ID=<your_paypal_client_id>
PAYPAL_CLIENT_SECRET=<your_paypal_client_secret>
PAYPAL_WEBHOOK_ID=<your_paypal_webhook_id>